<section class="top-banner">
    <div class="top-banner-body">
        <div class="content">
            <div class="text">
                <h1>Food app</h1>
                <h2>
                    Why stay hungry when
                    you can order form Bella Onojie
                </h2>
                <h3> Download the bella onoje’s food app now on </h3>
            </div>
            <nav class="topButtondownload">
                <div class="playstore">
                    <app-button [text]="'Playstore'"></app-button>
                </div>
                <div class="appstore">
                    <app-button [text]="'App store'" [changeStyle]="'btn-close button-outline-white button-outline-white-mobile'"></app-button>
                </div>
            </nav>
            <img src="./assets/doisCelular.png" alt="dois celular" class="twoPhone" name="dois celular">
        </div>
    </div>
    <img src="./assets/Rectangle.png" class="rectangle" alt="rectangle-banner-top" class="img-banner">
</section>