@import "../../../styles.scss";

.bottom {
    @extend .d-flex, .justify-content-center, .align-items-center;
    height: 220px;
    background-color: $background;

    .content {
        @extend .d-flex,
            .flex-column,
            .flex-md-row,
            .flex-lg-row,
            .flex-xl-row,
            .justify-content-around,
            .align-items-center;
        max-width: 1210px;
        width: 100%;

        .logo-footer {
            @extend .d-none, .d-xl-block, .d-lg-block;
        }

        .network {
            @extend .d-flex, .justify-content-between, .align-items-center, .mb-2, .m-md-0, .m-lg-0, .m-xl-0;
            width: 170px;
        }
        .Copywright {
            @extend .d-none, .d-md-block, .d-lg-block, .d-xl-block;
            font-family: $font-family-roboto;
            color: $font-color-footer;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.1px;
        }
        .message {
            @extend .d-block, .d-md-none, .d-lg-none, .d-xl-none;
            font-family: $font-family-roboto;
            color: $font-color-footer;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.1px;
        }
    }

    @media screen and (max-width: 991px) {
        height: 170px;
    }
}
