<footer class="bottom">
    <div class="content">
        <div class="logo-footer">
            <a href="#">
                <img src="./assets/logofooter.png" alt="logo" name="logo">
            </a>
        </div>
        <nav class="network">
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./assets/twitter.png" alt="twitter" name="twitter">
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./assets/instagram.png" alt="instagram" name="instagram">
            </a>
            <a href="http://" target="_blank" rel="noopener noreferrer">
                <img src="./assets/facebook.png" alt="facebook" name="facebook">
            </a>
        </nav>
        <span class="Copywright">
            Copywright 2020 Bella Onojie.com
        </span>
        <span class="message">
            Just type what's on your mind and we'll 
        </span>
    </div>
</footer>