@import "../../../styles.scss";

.btn-master {
    width: 236px;
    max-width: 100% !important;
    height: 68px;
    border: 2px solid $buttonColor;
    background-color: $buttonColor;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1px;
    border-radius: 30px;

    &:hover {
        background-color: transparent;
        color: $buttonColor;
    }

    &:active {
        width: 240px;
        height: 74px;
    }
}

.btn-close {
    background-color: transparent;
    color: $buttonColor;

    &:hover {
        color: white;
        background-color: $buttonColor;
    }
}

.rounded-10 {
    border-radius: 10px;
}

.button-small {
    width: 142px;
    height: 64px;
    &:active {
        width: 146px;
        height: 68px;
    }
}

.button-median {
    width: 173px;
    height: 60px;
    &:active {
        width: 177px;
        height: 64px;
    }
}
