<main>

    <section class="top-banner">
        <div class="body">
            <div class="content">
                <div class="content-text">
                    <h3>Food app</h3>
                    <h1>Why stay hungry when
                        you can order form Bella Onojie</h1>
                    <h4> Download the bella onoje’s food app now on </h4>
                </div>
                <nav class="topButtondownload">
                    <div class="playstore">
                        <app-button [text]="'Playstore'"></app-button>
                    </div>
                    <div class="appstore">
                        <app-button [text]="'App store'" [changeStyle]="'btn-close'"></app-button>
                    </div>
                </nav>
                <img src="../../../assets/doisCelular.png" alt="dois celular" class="twoPhone" name="dois celular">
            </div>
        </div>
        <img src="../assets/Rectangle.png" class="rectangle" alt="banner" class="img-banner">
    </section>

    <section class="bottom-banner">
        <div class="bottom-banner-body">
            <div class="bottom-banner-body-content">
                <h1>Download the app now.</h1>
                <h3>Available on your favorite store. Start your premium experience now</h3>
            </div>
            <nav class="bottomButtondownload">
                <div class="bottomPlaystore">
                    <app-button [text]="'Playstore'" [changeStyle]="'rounded-10 button-small'"></app-button>
                </div>
                <div class="bottomAppstore">
                    <app-button [text]="'App store'" [changeStyle]="'btn-close rounded-10 button-median'"></app-button>
                </div>
            </nav>
        </div>
        <img src="../../../assets/BottomRectangle.png" alt="BottomRectangle" class="img-banner-bottom">
    </section>

</main>