.home-banner {
    height: 1223px;
    .body {
        position: absolute;
        text-align: center;
        color: white;
        left: 0;
        width: 100%;
    }

    .rectangle{
        height: 619px;
    }
}
