<main>

    <section class="top-banner">
        <div class="body">
            <div class="content">
                <div class="content-text">
                    <h3>Food app</h3>
                    <h1>Why stay hungry when
                        you can order form Bella Onojie</h1>
                    <h4> Download the bella onoje’s food app now on </h4>
                </div>
                <nav class="topButtondownload">
                    <div class="playstore">
                        <app-button [text]="'Playstore'"></app-button>
                    </div>
                    <div class="appstore">
                        <app-button [text]="'App store'" [changeStyle]="'btn-close'"></app-button>
                    </div>
                </nav>
                <img src="../../../assets/doisCelular.png" alt="dois celular" class="twoPhone" name="dois celular">
            </div>
        </div>
        <img src="../assets/Rectangle.png" class="rectangle" alt="banner" class="img-banner">

    </section>

    <article class="process">
        <header class="process-header">
            <h1 class="process-title">How the app works</h1>
            <hr class="process-line">
        </header>
        <div class="process-body">
            <app-card *ngFor="let card of arr.items; index as i" [id]="card.id" [title]="card.title"
                [subtitle]="card.subtitle" [description]="card.description" [image]="card.image"
                [cardStyle]="cardStylePosition(card.id)"></app-card>
        </div>
    </article>

    <app-bottom-banner-download></app-bottom-banner-download>
</main>