<section class="bottom-banner">
    <div class="bottom-banner-body">
        <div class="bottom-banner-body-content">
            <h1>Download the app now.</h1>
            <h2>Available on your favorite store. Start your premium experience now</h2>
        </div>
        <nav class="bottomButtondownload">
            <div class="bottomPlaystore">
                <app-button [text]="'Playstore'" [changeStyle]="'rounded-10 button-small'"></app-button>
            </div>
            <div class="bottomAppstore">
                <app-button [text]="'App store'" [changeStyle]="'btn-close rounded-10 button-median button-outline-white'"></app-button>
            </div>
        </nav>
    </div>
    <img src="./assets/BottomRectangle.png" alt="BottomRectangle" class="img-banner-bottom">
</section>